<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="about.css">
<h2 class="text-center">About Us</h1>
<div class="container">
		<p>Here at The Burger Shack we care about our local community. That’s why all of our high-quality ingredients are purchased from local area businesses. We strive to make a difference in our community, and one way we can do this is by offering a fun, safe place for our guests to meet.</p>

	</div>
	<div class="container">
		<section class="first">
		<h1 class="text-center">WE USE ONLY THE FRESHEST INGREDIENTS</h1>
	</section>
	<section class="web">
	    <h2>About Web Developer</h2>
	    <p>Hey! I am Manoj Kumar 3rd year student of Delhi Technological University I developed this web site with HtML Css and JavaScript
	    I love Programming and  build Several Websites link below but building Website for TBS has great Experience. <br>For building websites <br>
	    Contact: mk310397@gmail.com <br>... Manoj Kumar(Engineer)<br>
	    <a href="https://calm-wildwood-12847.herokuapp.com/">The YelpCamp</a>
	    <br>
	    <a href="https://radiant-sierra-64843.herokuapp.com/">The RGB game</a>
	    </p>
	</section>
	</div>
<% include ./partials/footer %>