<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="delievery.css">
<h1 class="text-center">Please Select One Plan</h1>
<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="twostar">
					<span class="plan"><i class="fa fa-star"></i><i class="fa fa-star"> Star <span class="price">($19)</span></i></span>

				 <ul>
           	<li><i class="fa fa-check"></i> Standard delivery</li>
           	<li><i class="fa fa-check"></i> Free delivery</li>
           	<li><i class="fa fa-times"></i>  Special Offers</li>
           	<li><i class="fa fa-times"></i>  Cashbacks</li>
           	<li><i class="fa fa-times"></i>  Weekend 70% off</li>
           	<button type="button" class="btn btn-danger">Pay Now!</button>
           	<p>*For One Year</p>
           </ul>
			    </div>
				 
		   </div>
			<div class="col-md-4">
				<div class="threestar">
					<span class="plan"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"> Star <span class="price">($49)</span></i></span>
           <ul>
           	<li><i class="fa fa-check"></i> Standard Delivery</li>
           	<li><i class="fa fa-check"></i> Free Delivery</li>
           	<li><i class="fa fa-check"></i> Special Offers</li>
           	<li><i class="fa fa-times"></i>  Cashbacks</li>
           	<li><i class="fa fa-times"></i> Weekend 70% off</li>
            <button type="button" class="btn btn-danger">Pay Now!</button>
            <p>*For One Year</p>
           </ul>
			
				</div>
           </div>

			<div class="col-md-4">
				<div class="fivestar">
					<span class="plan"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"> Star <span class="price">($99)</span></i>
				</span>
					 <ul>
           	<li><i class="fa fa-check"></i> Standard Delivery</li>
           	<li><i class="fa fa-check"></i> Free Delivery</li>
           	<li><i class="fa fa-check"></i> Special Offers</li>
           	<li><i class="fa fa-check"></i> Cashbacks</li>
           	<li><i class="fa fa-check"></i> Weekend 70% off</li>
           	<button type="button" class="btn btn-danger">Pay Now!</button>
           	<p>*For One Year</p>
           </ul>
				</div>
				 
				
			</div>


		</div>
	</div>

