<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="style.css">
<body>
	<header>
		<div class="row">
			<div class="logo">
				<!--<img src="css/logo.png">-->
				<a href="http://tinypic.com?ref=2evb1vn" target="_blank"><img src="http://i68.tinypic.com/2evb1vn.jpg" border="0" alt="Image and video hosting by TinyPic"></a>
			</div>
			   <ul class="main-nav">
				  <li><a href="/delievery">DELIVERY</a></li>
				  <li><a href="/services">SERVICES</a></li>
				  <li><a href="/contacts">CONTACTS</a></li>
				  <li><a href="/cites">OUR CITES</a></li>
				  <li><a href="/signup">SIGN UP</a></li>
			  </ul>
		</div>
		  <div class="head">
			<h1>CRAVING AND FUSSED <br>GO SHACK!</h1>
			<a href="/signup" class="btn btn-half">Order now!</a>
			<a href="/about" class="btn btn-full">Know more</a>
		  </div>
	 </header>

  <section class="features">
  	
  	<h3 class="text-center">SUPER FAST DELIVERY TO YOUR DOOR STEP</h3>
  	<p class="copy_text">
  		Order from The burger shack and get your Delicious burger right to your door steps select our plans to avoids delivery charges
  		and also get some excited offers from the company so, don't wait go Shack! subscribe for plans and 
      enjoy variety of burgers from all over the world <a href="/delievery">select now!</a> 		</p>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-3">
  				<i class="fa fa-camera"></i>
  				<h4>Caption!</h4>
  			<p class="arrange" >
  			 We prepare our food with full freshness & we care what our customers say about us.The burger shack 
  			 sends photos of ordered burger in order to maintain the believes to Our users that matters a lot.
  			  </div>
           
           <div class="col-md-3">
           	<i class="fa fa-certificate"></i>
           	<h4 style="margin-right:10px;">Certificates!</h4>
  			<p class="arrange">
  		   The Burger Shack won lots of certificate like people's choice award for delivering healthy and delicious burger from all over the world
  		   We are still trying our best in order to maintain our pride.
  		    </div>

           <div class="col-md-3">
           	<i class="fa fa-envelope"></i>
           	<h4>Mails and Query</h4>
  			<p class="arrange">
  			Send your experience to us via mails and contacts. We always try to better ourselves your mails and feedbacks are important 
  			for ous. send your mails and query to <a href="/contacts">contacts</a>
  			</p>
  		    </div>
  		    <div class="col-md-3">
  		    	<i class="fa fa-cog"></i>
  		    	<h4>Management</h4>
  			<p class="arrange">
  				The Burger Shack on North India.Two fellowmates, who emigrated from India 10 years ago, make unique sandwiches stuffed with tasty toppings. Since opening their shop in 2010,
  		  </p>
  		    </div>

  		</div>
  	</div>
  </section>

  <!-- section 2 for burger meal -->
  <section class="meal">
  	<ul class="burger-showcase">
  		<li class="burger-photo">
  			<figure>
  				<img src="https://images.pexels.com/photos/1199957/pexels-photo-1199957.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
  			</figure>
  		</li>
  		<li class="burger-photo">
  			<figure>
  				<img src="https://images.pexels.com/photos/1624473/pexels-photo-1624473.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
  			</figure>
  		</li>
  		<li class="burger-photo">
  			<figure>
  				<img src="https://images.pexels.com/photos/460595/pexels-photo-460595.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
  			</figure>
  		</li>
  		<li class="burger-photo">
  			<figure>
  				<img src="https://images.pexels.com/photos/357746/pexels-photo-357746.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
  			</figure>
  		</li>
  		<li class="burger-photo">
  			<figure>
  				<img src="https://images.pexels.com/photos/580612/pexels-photo-580612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
  			</figure>
  		</li>
  		<li class="burger-photo">
  			<figure>
  				<img src="https://images.pexels.com/photos/161675/abstract-barbeque-bbq-beauty-161675.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
  			</figure>
  		</li>
  		<li class="burger-photo">
  			<figure>
  				<img src="https://images.pexels.com/photos/1251198/pexels-photo-1251198.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
  			</figure>
  		</li>
  		<li class="burger-photo">
  			<figure>
  				<img src="https://images.pexels.com/photos/1556698/pexels-photo-1556698.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
  			</figure>
  		</li>
  	</ul>
  </section>
  

  <section class="mobile">
  	<h3 class="text-center">DOWNLOAD NOW!</h3>
    <div class="container2">
  		<div class="row">
  			<div class="col-md-6">
  				<img src="http://i64.tinypic.com/1602zcn.jpg" border="0" alt="Image and video hosting by TinyPic">
  			</div>
  			<div class="col-md-6">
  				<div class="work-step">
  					
  				<div>1</div>
  				<p>The Burger Shack app is now available for all devices download The Burger
  				   Shack App in ios,windows and android platforms</p>

  				 <div>2</div>
  				 <p>The Burger Shack is now available for Android platform download The Burger Shack
  				    android app from the icon below</p>

  			     <div>3</div>
  				 <p>The Burger Shack is now available for ios platform download The Burger Shack
  				    ios app from the icon below</p>

  				    <!-- adding buttons to download -->
  				   <a href="http://tinypic.com?ref=28a2o1v" target="_blank"><img src="http://i63.tinypic.com/28a2o1v.jpg" border="0" alt="Image and video hosting by TinyPic"></a>
  				   <a href="http://tinypic.com?ref=sqqb2c" target="_blank"><img src="http://i67.tinypic.com/sqqb2c.jpg" border="0" alt="Image and video hosting by TinyPic"></a>
  				    <!--<a href="#"><img src="css/googleplay.png"></a>-->
  				    <!--<a href="#"><img src="css/appstore.png"></a>-->
                    
  				 </div>

  				</div>
  			</div>
  	</div>
  </section>

  <section class="testimonials">
  	<h3 class="text-center">Our Team</h3>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-4">
  				
  					<p>	 Our main inspiration for The Burger Shack did not come through a simple business idea, instead it came out of two passionate lifetimes of cooking for others, on purpose, for enjoyment. Our passion lies in serving freshly cooked, quality foods and we believe we were successfully able to apply our passions for our customers at The Burger Shack.
       
  					</p>
  					<cite ><img src="http://i68.tinypic.com/2vs520k.jpg" width="100" height="100">Mr.David Robbert (CEO)</cite>
  				
  			</div>

  			<div class="col-md-4">
  				
  					<p>Our burgers are 94 percent Non veg, naturally raised on open range pastures without using steroids or antibiotics. Apart from this unmatched freshness, we also have a variety of burgers that are stuffed with fresh, 
  					  locally sourced, quality ingredients. We ensure that innovation and creativity goes into every burger's careful development. 
  					</p>
  					
  				<cite><img src="http://i65.tinypic.com/2dgrkzr.jpg" width="100" height="100">Mr.Rahul Mishra (Chairman)</cite>
  				 
  			</div>

  			<div class="col-md-4">
  				
  					<p>We prioritize being environmentally friendly in every aspect of our restaurant's operation, from the food preparation to the sourcing of our fresh ingredients
  					   We value recycling of all recyclable products at The Burger Shack
  						This shines through our special offer of a limited edition Burger of the Month and our weekly specials.
  					</p>
  					
  				<cite ><img src="http://i67.tinypic.com/1z1a5oj.jpg" width="100" height="100">Ms.Harshvi Chaudhary (Marketing head)</cite>
  				
  				
  			</div>
  		</div>
  	</div>
  </section>

  <section class="form">
  	<div class="container">
      <div class="row gap">
      	<h1 class="text-center">Feedback we are here for better!</h1>
      	<br>
  			<div class="col-md-4">

  				<input type="text" name="username" placeholder="Enter your name" class="form-control" required><br>
  				<input type="email" name="email" placeholder="Enter your email" class="form-control" required><br>
  				<input type="password" name="password" placeholder="Enter your password" class="form-control" required>
  			</div>
  			<div class="col-md-8">
  				<textarea class="form-control" rows="8" placeholder="Comments"></textarea>
  				<button class="btn btn-warning btn-block">Submit</button>
  			</div>
  		</div>
  	</div>
  </section>
  <br>



<% include ./partials/footer %>